# --- 核心框架 ---
streamlit
pydantic-settings
python-dotenv
pandas

# --- 向量大脑 ---
qdrant-client
langchain-qdrant
langchain-text-splitters
rank_bm25
jieba

# --- AI 与模型 (建议先装上，省得报错) ---
langchain>=0.2.0
langchain-community
sentence-transformers
torch
torchvision

# --- 其他 ---
pydantic>=2.0.0
pydantic-settings>=2.0.0
python-dotenv>=1.0.0